.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1280px;
  min-width: 320px;
  color: #fff;
  font-family: Inter, sans-serif;
  font-weight: normal;
  font-style: normal;
  padding: 28px 48px 24px;
  box-sizing: border-box;
}

@media screen AND (max-width: 1150px) {
  .page {
    padding: 28px 0 24px;
  }
}

@media screen AND (max-width: 544px) {
  .page {
    padding: 16px 0 24px;
  }
}