.footer__link {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    color: white;
    text-decoration: none;
    transition: opacity .2s linear;
}

.footer__link:hover {
    opacity: .8;
}

@media screen AND (max-width: 713px) {
    .footer__link {
        font-size: 24px;
        line-height: 1;
    }
}