.intro {
    display: inline-flex;
    flex-direction: column;
    max-width: 690px;
    min-width: 288px;
    margin-left: 100px;
}

@media screen AND (max-width: 1150px) {
    .intro {
        margin-left: 48px;
    }
}

@media screen AND (max-width: 896px) {
    .intro {
        margin: 0 24px 0;
        max-width: 720px;
    }
}

@media screen AND (max-width: 544px) {
    .intro {
        margin: 0 16px 0;
    }
}